/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
menu {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* NORMALIZE */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: 0;
}
/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
menu {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* BOX-SIZING */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* CLEARFIX */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* FONT TEXT ******************************/
/* LAYOUT SIZES ******************************/
/* BUTTONS ******************************/
/* INPUTS ******************************/
/* SIDEBAR ******************************/
/* LIST ******************************/
/* TOOLTIP ******************************/
/* POPUP ******************************/
/* MENU ITEMS ****************/
/* CONTENT */
/* BTN-TAG */
/* CODE ****************/
/* TAG EDITOR ****************/
/* MODAL  ****************/
/* NOTIFICATIONS  ****************/
/* WINDOW FRAME ******************************/
/* BASIC ***********************************/
/* SIDEBAR ******************************/
/* LIST ******************************/
/* CONTENT ******************************/
/* BUTTONS ******************************/
/* INPUTS ******************************/
/* TOOLTIP ******************************/
/* POPUP ******************************/
/* MENU ITEMS ****************/
/* MODAL ****************/
/* NOTIFICATIONS  ****************/
/* WINDOW FRAME ******************************/
.center {
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  color: #546e7a;
}
hr {
  border: none;
  display: block;
  height: 1px;
  background-color: #cfd8dc;
  margin: 0;
}
.scroller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}
input.hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px !important;
  height: 1px;
  padding: 0 !important;
}
.menu {
  font-size: 10px;
}
.menu .item {
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  text-align: left;
  white-space: nowrap;
  color: #546e7a;
  transition: all 0.1s;
  cursor: pointer;
}
.menu .item i {
  margin-right: 5px;
}
.menu .item:not(.title):hover {
  background-color: rgba(255, 87, 34, 0.1);
}
.menu .item.title {
  cursor: default;
  font-size: 12px;
  font-weight: 700;
  border-bottom: solid 1px #ecf0f2;
}
.pull-right {
  float: right;
}
/* BUTTONS ******/
.btn {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  line-height: 26px;
  padding: 0 14px;
  vertical-align: middle;
  white-space: nowrap;
  border: solid 1px transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 14px;
  transition: all 0.1s;
  font-weight: 700;
  /* COLORS */
  /* SHAPES */
}
.btn.btn-primary {
  border-color: #ff5722;
  background-color: #ff5722;
  color: #fff;
}
.btn.btn-primary.btn-linear {
  background-color: transparent;
  color: #ff5722;
}
.btn.btn-primary:hover {
  border-color: #ff7e55;
  background-color: #ff7e55;
  color: #fff;
}
.btn.btn-danger {
  border-color: #ff4e4e;
  background-color: #ff4e4e;
  color: #fff;
}
.btn.btn-danger.btn-linear {
  background-color: transparent;
  color: #ff4e4e;
}
.btn.btn-danger:hover {
  border-color: #ff8181;
  background-color: #ff8181;
  color: #fff;
}
.btn.btn-save {
  border-color: #ff5722;
  background-color: #ff5722;
  color: #fff;
}
.btn.btn-save.btn-linear {
  background-color: transparent;
  color: #ff5722;
}
.btn.btn-save:hover {
  border-color: #ff7e55;
  background-color: #ff7e55;
  color: #fff;
}
.btn.btn-cancel {
  border-color: #cccccc;
  background-color: #cccccc;
  color: #fff;
}
.btn.btn-cancel.btn-linear {
  background-color: transparent;
  color: #cccccc;
}
.btn.btn-cancel:hover {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
  color: #fff;
}
.btn.btn-grey {
  border-color: #b3b3b3;
  background-color: #b3b3b3;
  color: #fff;
}
.btn.btn-grey.btn-linear {
  background-color: transparent;
  color: #b3b3b3;
}
.btn.btn-grey:hover {
  border-color: #cccccc;
  background-color: #cccccc;
  color: #fff;
}
.btn.btn-small {
  font-size: 85%;
  min-width: 23.8px;
  height: 23.8px;
  line-height: 23.8px;
  padding: 0 11.9px;
  border-radius: 3.4px;
}
.btn.btn-icon,
.btn.btn-circle {
  padding: 0;
  font-size: 100%;
}
.btn.btn-separator {
  padding: 0;
  min-width: 0;
}
.btn.btn-circle {
  border-radius: 52%;
}
.btn.btn-round {
  border-radius: 14px;
}
.btn.btn-border {
  border-color: #cfd8dc;
}
input[type=text],
textarea,
select {
  padding: 0 10px;
  line-height: 28px;
  border: none;
  vertical-align: middle;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #cfd8dc;
  color: #546e7a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: border-color 0.2s;
}
input[type=text]:focus,
textarea:focus,
select:focus,
input[type=text].focus,
textarea.focus,
select.focus {
  box-shadow: inset 0 0 0 1px #ff5722;
}
input[type=text],
textarea {
  width: 100%;
}
/* SCROLLBAR ******/
::-webkit-scrollbar {
  background-color: rgba(200, 200, 200, 0);
  width: 0;
  transition: background-color 0.2s;
  -webkit-app-region: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 87, 34, 0);
  transition: background-color 0.2s;
}
div:hover::-webkit-scrollbar {
  background-color: rgba(200, 200, 200, 0.3);
  width: 5px;
}
div:hover::-webkit-scrollbar-thumb {
  background-color: #ff5722;
  -webkit-app-region: none;
}
/* Float */
.float {
  position: fixed;
  z-index: 100000;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.2s 0.2s, transform 0.3s 0.2s;
  /* Positions */
}
.float.to-bottom {
  transform: translateY(15px);
}
.float.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.float.instant {
  transition: opacity 0.2s, transform 0.3s;
}
/* Tooltip */
.float {
  /* Positions */
  /* Color */
}
.float .ttip {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  line-height: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: #111;
  color: #EEE;
  padding: 0 12px;
  white-space: nowrap;
  font-weight: 700;
}
.float .ttip .triang {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -7px;
  left: 50%;
  border-style: solid;
  border-width: 7px 7px 0;
  border-color: #111 transparent transparent;
  margin-left: -7px;
}
.float.to-bottom .ttip {
  top: auto;
  bottom: -35px;
}
.float.to-bottom .ttip .triang {
  bottom: auto;
  top: -7px;
  border-width: 0 7px 7px;
  border-color: transparent transparent #111;
}
.float.to-left .ttip {
  left: -19px;
  transform: none;
}
.float.to-left .ttip .triang {
  left: 19px;
}
.float.to-right .ttip {
  left: auto;
  right: -19px;
  transform: none;
}
.float.to-right .ttip .triang {
  left: auto;
  right: 12px;
}
.float.to-light .ttip {
  background-color: #fbfbfc;
  color: #546e7a;
}
.float.to-light .ttip .triang {
  border-color: #fbfbfc transparent transparent;
}
.float.to-light.to-bottom .ttip .triang {
  border-color: transparent transparent #fbfbfc;
}
/* Popup */
.float {
  /* Positions */
}
.float .ppup {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  background-color: #fbfbfc;
  box-shadow: none;
  border: 1px solid #cfd8dc;
}
.float .ppup .triang {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  left: 50%;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #cfd8dc transparent transparent;
  margin-left: -8px;
}
.float .ppup .triang span {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: -8px;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #fbfbfc transparent transparent;
}
.float.to-bottom .ppup {
  top: 8px;
  bottom: auto;
}
.float.to-bottom .ppup .triang {
  bottom: auto;
  top: -8px;
  border-width: 0 8px 8px;
  border-color: transparent transparent #cfd8dc;
}
.float.to-bottom .ppup .triang span {
  top: 2px;
  border-width: 0 8px 8px;
  border-color: transparent transparent #fbfbfc;
}
.float.to-left .ppup {
  left: -19px;
  transform: none;
}
.float.to-left .ppup .triang {
  left: 19px;
}
.float.to-right .ppup {
  left: auto;
  right: -19px;
  transform: none;
}
.float.to-right .ppup .triang {
  left: auto;
  right: 12px;
}
.pop-label {
  font-size: 11px;
  line-height: 28px;
  height: 28px;
  border-radius: 4px;
  padding: 0 12px;
  white-space: nowrap;
}
/* Modal */
.modal {
  z-index: 90000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(251, 251, 252, 0.6);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.modal .modal-body {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3D(-50%, -100%, 0);
  background-color: #fbfbfc;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 90%;
  padding: 35px 30px 30px;
  border: 1px solid #cfd8dc;
  border-top: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.modal.render {
  height: 100%;
}
.modal.show {
  opacity: 1;
}
.modal.show .modal-body {
  transform: translate3D(-50%, 0, 0);
}
.modal .text {
  padding-bottom: 30px;
}
.modal .text.size-1 {
  font-size: 16px;
  line-height: 1.3em;
  min-width: 360px;
}
.modal .actions {
  text-align: center;
}
#notifications-trail {
  position: absolute;
  z-index: 200000;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 0;
}
#notifications-trail .notification {
  background-color: #fbfbfc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #4a606b;
  padding: 15px 20px 0;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #ecf0f2;
  font-size: 12px;
  cursor: default;
  -webkit-transition: margin-top 0.8s;
  transition: margin-top 0.8s;
  margin-top: -65px;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #37474f;
  color: #e0e7e9;
}
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: #263238;
  color: #cfd8dc;
}
#sidebar hr {
  position: absolute;
  left: 28px;
  right: 28px;
  background-color: #3b4d56;
}
#sidebar .block {
  position: absolute;
  left: 0;
  right: 0;
}
#sidebar .block.header {
  top: 0;
  height: 96px;
  padding-top: 28px;
}
#sidebar .block.header hr {
  bottom: 0;
}
#sidebar .block.list {
  top: 96px;
  bottom: 64px;
}
#sidebar .block.list .block-tools {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 23px 0 28px;
  height: 64px;
  line-height: 64px;
}
#sidebar .block.list .block-tools .block-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}
#sidebar .block.list .block-tools .right {
  float: right;
  text-align: right;
}
#sidebar .block.list .scroller {
  top: 64px;
}
#sidebar .block.footer {
  bottom: 0;
  height: 64px;
  padding-top: 6px;
}
#sidebar .block.footer hr {
  top: 0;
}
#sidebar ul li {
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  width: 240px;
  position: relative;
}
#sidebar ul li span {
  display: block;
  position: absolute;
  top: 0;
  height: 48px;
}
#sidebar ul li .color,
#sidebar ul li .edit {
  left: 28px;
  width: 20px;
}
#sidebar ul li .title {
  left: 48px;
  right: 51.8px -5px;
  overflow: hidden;
}
#sidebar ul li .badge {
  right: 23px;
  width: 23.8px;
  text-align: center;
  transition: opacity 0.2s;
}
#sidebar ul li .badge span {
  font-weight: bold;
  position: static;
  display: inline-block;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  background-color: transparent;
  color: #cfd8dc;
  border-radius: 9px;
}
#sidebar ul li .edit {
  opacity: 0;
  z-index: 100;
}
#sidebar ul li .tag-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  display: block;
  opacity: 0;
  width: 0;
  background-color: #11171a;
  -webkit-transition: opacity 0.2s, width 0.2s;
  transition: opacity 0.2s, width 0.2s;
}
#sidebar ul li:not(.no-editable):hover .color {
  opacity: 0;
}
#sidebar ul li:not(.no-editable):hover .edit {
  opacity: 1;
}
#sidebar ul li:hover {
  background-color: #2d3a41;
}
#sidebar ul li.current {
  cursor: default;
}
#sidebar ul li.current,
#sidebar ul li.current .color,
#sidebar ul li.current .edit,
#sidebar ul li.current .badge span {
  color: #FFF !important;
}
#sidebar ul li.current .edit {
  cursor: pointer;
}
#sidebar ul li.current .tag-background {
  opacity: 1;
  width: 100%;
}
#sidebar .btn.btn-border {
  border-color: rgba(207, 216, 220, 0.5);
}
.tag-editor {
  width: 280px;
  position: relative;
}
.tag-editor .delete-tag {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  color: #ff4e4e;
  cursor: pointer;
}
.tag-editor .block-data {
  padding: 12px 20px;
}
.tag-editor .block-data.block-tools {
  text-align: center;
  border-top: 1px solid #ecf0f2;
}
.tag-editor .label {
  font-size: 10px;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #8ba3af;
  font-weight: 700;
}
.tag-editor input {
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px dashed #ecf0f2;
  padding: 0;
  margin-bottom: 15px;
}
.tag-editor input:focus {
  box-shadow: none;
}
.tag-editor .color-list {
  text-align: center;
  margin-top: 10px;
}
.tag-editor .color-list .color-op {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 52%;
}
.tag-editor .color-list .color-op.current {
  box-shadow: inset 0 0 0 2px #d8d8d8;
}
#snippetListVM {
  position: absolute;
  top: 0;
  left: 240px;
  bottom: 0;
  width: 320px;
}
#snippetListVM .block {
  position: absolute;
  left: 0;
  right: 0;
}
#snippetListVM .block.header {
  top: 0;
  height: 96px;
  border-right: 1px solid #dee4e7;
}
#snippetListVM .block.header .toolbox {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 28px;
}
#snippetListVM .block.header .toolbox .toolbox-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 64px;
}
#snippetListVM .block.header .toolbox .toolbox-search .input-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 28px;
}
#snippetListVM .block.header .toolbox .toolbox-search .input-container input {
  font-size: 12px;
  box-shadow: none;
  border-radius: 28px 0 0 28px;
}
#snippetListVM .block.header .toolbox .toolbox-search .btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  border-radius: 0 28px 28px 0;
}
#snippetListVM .block.header .toolbox .toolbox-search .btn i {
  color: #8ba3af;
  position: relative;
  top: -1px;
  left: -1px;
}
#snippetListVM .block.header .toolbox .toolbox-actions {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}
#snippetListVM .block.header hr {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 0;
}
#snippetListVM .block.list {
  top: 96px;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}
#snippetListVM ul li {
  padding: 15px 30px 0;
  position: relative;
  color: #546e7a;
  border-right: 1px solid #dee4e7;
  cursor: pointer;
  transition: background-color 0.1s;
  overflow: hidden;
  -webkit-animation: showLiSnippet 0.4s 1;
  -webkit-animation-fill-mode: both;
  height: 0;
}
#snippetListVM ul li .title {
  font-weight: 700;
  margin-bottom: 5px;
}
#snippetListVM ul li .description {
  font-size: 12px;
  line-height: 1.3em;
  overflow: hidden;
  height: 2.6em;
  font-weight: 300;
}
#snippetListVM ul li hr {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 0;
}
#snippetListVM ul li:hover {
  background-color: rgba(251, 251, 252, 0.5);
}
#snippetListVM ul li.current {
  color: #4a606b;
  background-color: #fbfbfc;
  box-shadow: 0 0 0 1px #dee4e7;
  border-right: none;
  cursor: default;
}
#snippetListVM ul li.current hr {
  display: none;
}
#snippetListVM ul li:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
#snippetListVM ul li:nth-child(3) {
  -webkit-animation-delay: 0.15s;
}
#snippetListVM ul li:nth-child(4) {
  -webkit-animation-delay: 0.2s;
}
#snippetListVM ul li:nth-child(5) {
  -webkit-animation-delay: 0.25s;
}
#snippetListVM ul li:nth-child(6) {
  -webkit-animation-delay: 0.3s;
}
#snippetListVM ul li:nth-child(7) {
  -webkit-animation-delay: 0.35s;
}
#snippetListVM ul li:nth-child(8) {
  -webkit-animation-delay: 0.4s;
}
#snippetListVM ul li:nth-child(9) {
  -webkit-animation-delay: 0.45s;
}
#snippetListVM ul li:nth-child(10) {
  -webkit-animation-delay: 0.5s;
}
#snippetListVM ul li:nth-child(11) {
  -webkit-animation-delay: 0.55s;
}
#snippetListVM ul li:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}
#snippetListVM ul li:nth-child(13) {
  -webkit-animation-delay: 0.65s;
}
#snippetListVM ul li:nth-child(14) {
  -webkit-animation-delay: 0.7s;
}
#snippetListVM ul li:nth-child(15) {
  -webkit-animation-delay: 0.75s;
}
#snippetListVM ul li:nth-child(16) {
  -webkit-animation-delay: 0.8s;
}
#snippetListVM ul li:nth-child(17) {
  -webkit-animation-delay: 0.85s;
}
#snippetListVM ul li:nth-child(18) {
  -webkit-animation-delay: 0.9s;
}
#snippetListVM ul li:nth-child(19) {
  -webkit-animation-delay: 0.95s;
}
#snippetListVM ul li:nth-child(20) {
  -webkit-animation-delay: 1s;
}
#snippetListVM ul li:nth-child(21) {
  -webkit-animation-delay: 1.05s;
}
#snippetListVM ul li:nth-child(22) {
  -webkit-animation-delay: 1.1s;
}
#snippetListVM ul li:nth-child(23) {
  -webkit-animation-delay: 1.15s;
}
#snippetListVM ul li:nth-child(24) {
  -webkit-animation-delay: 1.2s;
}
#snippetListVM ul li:nth-child(25) {
  -webkit-animation-delay: 1.25s;
}
#snippetListVM ul li:nth-child(26) {
  -webkit-animation-delay: 1.3s;
}
#snippetListVM ul li:nth-child(27) {
  -webkit-animation-delay: 1.35s;
}
#snippetListVM ul li:nth-child(28) {
  -webkit-animation-delay: 1.4s;
}
#snippetListVM ul li:nth-child(29) {
  -webkit-animation-delay: 1.45s;
}
#snippetListVM ul li:nth-child(30) {
  -webkit-animation-delay: 1.5s;
}
.empty-snippet-list {
  text-align: center;
  padding: 25px 0;
  line-height: 1.6em;
}
.empty-snippet-list span {
  font-size: 75%;
  color: #ff5722;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
.empty-snippet-list span:hover {
  color: #ee3900;
}
.nothing-found-snippet-list {
  text-align: center;
  padding: 25px 0;
  line-height: 1.6em;
  font-style: italic;
  font-weight: 300;
}
@-webkit-keyframes showLiSnippet {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 84px;
  }
}
#snippetVM {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 560px;
  background-color: #fbfbfc;
  overflow: hidden;
  overflow-y: auto;
}
#snippetVM hr {
  background-color: #ecf0f2;
}
#snippetVM .btn-edit {
  font-size: 12px;
  line-height: 1em;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  margin-left: 5px;
  color: #ffa588;
}
#snippetVM .btn-edit:hover {
  color: #ff5722;
}
#snippetVM .block {
  position: absolute;
  left: 0;
  right: 0;
}
#snippetVM .block.header {
  top: 0;
  height: 96px;
}
#snippetVM .block.header .title {
  position: absolute;
  top: 50%;
  left: 50px;
  right: 83.6px;
  font-size: 28px;
  height: 28px;
  font-weight: 300;
  margin-top: -14px;
}
#snippetVM .block.header .title .title-content {
  display: inline-block;
  line-height: 28px;
}
#snippetVM .block.header .title .title-edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}
#snippetVM .block.header .title .title-edit input {
  font-weight: 300;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  height: 28px;
  line-height: 28px;
  color: #546e7a;
  border-bottom: dashed 2px #ecf0f2;
}
#snippetVM .block.header .title.editing .title-show {
  display: none;
}
#snippetVM .block.header .title.editing .title-edit {
  display: block;
}
#snippetVM .block.header .toolbox {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 33.6px;
  height: 28px;
  text-align: right;
  margin-top: -14px;
}
#snippetVM .block.header .toolbox .btn {
  font-size: 14px;
}
#snippetVM .block.header hr {
  position: absolute;
  bottom: 0;
  right: 50px;
  left: 0;
}
#snippetVM .block.list {
  top: 96px;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 50px;
}
#snippetVM .block.list:hover {
  padding-right: 45px;
}
#snippetVM .block-content {
  padding: 25px 0;
}
#snippetVM .block-content .description {
  font-size: 14px;
  height: 28px;
  margin-bottom: 10px;
  font-weight: 300;
}
#snippetVM .block-content .description .description-content {
  display: inline-block;
  line-height: 28px;
  min-height: 28px;
}
#snippetVM .block-content .description .description-edit {
  display: none;
}
#snippetVM .block-content .description .description-edit input {
  font-weight: 300;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  height: 28px;
  line-height: 28px;
  color: #546e7a;
  border-bottom: dashed 2px #ecf0f2;
}
#snippetVM .block-content .description.editing .description-show {
  display: none;
}
#snippetVM .block-content .description.editing .description-edit {
  display: block;
}
#snippetVM .block-content .tags-container {
  margin-bottom: 30px;
  min-height: 28px;
}
#snippetVM .block-content .tags-container .tags-list {
  display: inline;
}
#snippetVM .block-content .toolbox-codes {
  line-height: 28px;
  border-bottom: 1px solid #cfd8dc;
  padding-bottom: 5px;
}
#snippetVM .block-content .toolbox-codes .title {
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}
.empty-snippet {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.empty-snippet .message {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: translateY(-50%);
  line-height: 1.6em;
  text-align: center;
}
.empty-snippet .message span {
  font-size: 75%;
  color: #ff5722;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
.empty-snippet .message span:hover {
  color: #ee3900;
}
.btn-tag {
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
  padding: 0 8px;
  border-radius: 3px;
  margin: 0 6px 8px 0;
  background-color: #BBB;
  color: #FFF;
  text-align: center;
  font-weight: 700;
  cursor: default;
}
.btn-tag i {
  font-size: 11px;
  margin-left: 4px;
  position: relative;
  left: 3px;
  cursor: pointer;
}
.tags-list-popup {
  text-align: center;
  width: 200px;
  padding: 8px 0 0 6px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 300px;
}
.tags-list-popup .btn-tag {
  cursor: pointer;
}
/**/
.list-codes .code {
  padding: 25px 0;
}
.list-codes .code .code-header {
  font-size: 12px;
  position: relative;
  height: 32px;
  line-height: 28px;
  padding: 0 0 4px;
  margin-bottom: 2px;
}
.list-codes .code .code-header .code-header-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 112px;
  height: 28px;
}
.list-codes .code .code-header .code-header-left .btn {
  float: left;
  border-radius: 0;
}
.list-codes .code .code-header .code-header-left .btn i {
  margin-right: 2px;
}
.list-codes .code .code-header .code-header-left .btn-language {
  font-size: 14px;
  font-weight: 700;
  padding-left: 0;
  border-right: 1px solid #ecf0f2;
}
.list-codes .code .code-header .code-header-left .btn-language i {
  margin-left: 4px;
}
.list-codes .code .code-header .code-header-left .btn-code-edit,
.list-codes .code .code-header .code-header-left .btn-code-copy {
  color: #ff5722;
}
.list-codes .code .code-header .code-header-left .btn-code-edit:hover,
.list-codes .code .code-header .code-header-left .btn-code-copy:hover {
  color: #ff7e55;
}
.list-codes .code .code-header .code-header-left .btn-code-cancel {
  color: #b3b3b3;
}
.list-codes .code .code-header .code-header-left .btn-code-cancel:hover {
  color: #808080;
}
.list-codes .code .code-header .code-header-left .btn-code-save {
  color: #ff5722;
}
.list-codes .code .code-header .code-header-left .btn-code-save:hover {
  color: #bb2d00;
}
.list-codes .code .code-header .code-header-left .btn-code-copy {
  border-left: 1px solid #ecf0f2;
}
.list-codes .code .code-header .code-header-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  text-align: right;
}
.list-codes .code .code-header .code-header-right .move-tools {
  display: inline-block;
  border-right: 1px solid #ecf0f2;
  margin-right: 12px;
  padding: 0 10px;
}
.list-codes .code .code-saver {
  display: none;
  float: left;
}
.list-codes .code .code-saver .btn {
  float: none;
}
.list-codes .code .code-body {
  border: 1px solid #ecf0f2;
  min-height: 200px;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
.list-codes .code .code-body pre {
  min-height: 200px;
}
.list-codes .code.editing .btn-code-edit {
  display: none;
}
.list-codes .code.editing .code-saver {
  display: inline-block;
}
.list-codes .code.editing .code-body {
  border-color: #ff5722;
}
/**/
.empty-code {
  text-align: center;
  padding: 25px 0;
  line-height: 1.6em;
}
.empty-code span {
  font-size: 75%;
  color: #ff5722;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
.empty-code span:hover {
  color: #ee3900;
}
.code-language-list {
  width: 170px;
  max-height: 260px;
  font-size: 0;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
}
.code-language-list span {
  display: block;
  width: 170px;
  font-size: 11px;
  line-height: 26px;
  border-top: 1px solid #ecf0f2;
  cursor: pointer;
}
.code-language-list span:first-child {
  border-top: none;
}
.code-language-list span:hover {
  color: #2a383e;
}
#window-frame {
  position: fixed;
  z-index: 0;
  top: 10px;
  bottom: 12px;
  left: 10px;
  right: 10px;
  background-color: #eceff1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
  transition: top 0.2s, bottom 0.2s, left 0.2s, right 0.2s;
  overflow: hidden;
}
#window-frame.maximized {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
}
#window-control {
  position: absolute;
  z-index: 10000;
  top: 10px;
  left: 10px;
  width: 54px;
  height: 18px;
}
#window-control .window-frame-button {
  -webkit-user-select: none;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  cursor: default;
}
#window-control .window-frame-button .window-frame-button-circle {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 10px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 52%;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
}
#window-control .window-frame-button .window-frame-button-circle i {
  opacity: 0;
  transition: opacity 0.2s;
  position: relative;
  top: 1px;
}
#window-control .window-frame-button.window-frame-button-close {
  left: 0;
}
#window-control .window-frame-button.window-frame-button-close .window-frame-button-circle {
  background-color: #FF5E52;
  border-color: #ff5e52;
}
#window-control .window-frame-button.window-frame-button-close .window-frame-button-circle i {
  left: 0;
}
#window-control .window-frame-button.window-frame-button-minimize {
  left: 18px;
}
#window-control .window-frame-button.window-frame-button-minimize .window-frame-button-circle {
  background-color: #FFC11B;
  border-color: #ffc11b;
}
#window-control .window-frame-button.window-frame-button-maximize {
  left: 36px;
}
#window-control .window-frame-button.window-frame-button-maximize .window-frame-button-circle {
  background-color: #21CD2B;
  border-color: #21cd2b;
}
#window-control .window-frame-button:hover .window-frame-button-circle i {
  opacity: 1;
}
#window-frame-body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px 5px 0 0;
}
.maximized #window-frame-body {
  border-radius: 0;
}
