@window-frame-border-radius: 2 * @window-frame-header-border-radius;
#window-frame {
  //-webkit-app-region: drag;
  position: fixed;
  z-index: 0;
  top: @window-frame-margin;
  bottom: @window-frame-margin + @window-frame-shadow-y;
  left: @window-frame-margin;
  right: @window-frame-margin;
  background-color: @window-frame-background-color;
  box-shadow: 0 @window-frame-shadow-y @window-frame-margin @window-frame-box-shadow-color;
  
  border-radius: @window-frame-border-radius @window-frame-border-radius 0 0;
  transition: top 0.2s, bottom 0.2s, left 0.2s, right 0.2s;
  overflow: hidden;
  &.maximized {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}
#window-control{  
  position: absolute;  
  z-index: 10000;
  top: 10px;
  left: 10px;
  width: 3 *@window-frame-button-width;
  height: @window-frame-button-height;
  .window-frame-button {
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
    cursor: default;
    width: @window-frame-button-width;
    height: @window-frame-button-height;
    position: absolute;
    top: 0;
    cursor: default;
    .window-frame-button-circle {
      position: absolute;
      top: 0.5 * (@window-frame-button-height - @window-frame-button-circle-radius);
      left: 0.5 * (@window-frame-button-width - @window-frame-button-circle-radius);
      font-size: 10px;
      width: @window-frame-button-circle-radius;
      height: @window-frame-button-circle-radius;
      line-height: @window-frame-button-circle-radius;
      text-align: center;
      border-radius: 52%;
      padding: 0;
      margin: 0;
      border: 1px solid transparent;
      i {
        opacity: 0;
        transition: opacity 0.2s;
        position: relative;
        top: 1px;
      }
    }
    &.window-frame-button-close {
      left: @window-frame-button-offset;
      .window-frame-button-circle {
        background-color: @window-frame-button-close-background-color;
        border-color: lighten(@window-frame-button-close-background-color, @window-frame-button-border-color-percent);
        i {
          left: 0;
        }
      }
    }
    &.window-frame-button-minimize {
      left: @window-frame-button-offset + @window-frame-button-width;
      .window-frame-button-circle {
        background-color: @window-frame-button-minimize-background-color;
        border-color: lighten(@window-frame-button-minimize-background-color, @window-frame-button-border-color-percent);
      }
    }
    &.window-frame-button-maximize {
      left: @window-frame-button-offset + 2 * @window-frame-button-width;
      .window-frame-button-circle {
        background-color: @window-frame-button-maximize-background-color;
        border-color: lighten(@window-frame-button-maximize-background-color, @window-frame-button-border-color-percent);
      }
    }
    &:hover {
      .window-frame-button-circle {
        i {
          opacity: 1;
        }
      }
    }
  }
}


#window-frame-body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  border-radius: @window-frame-header-border-radius @window-frame-header-border-radius 0 0;
  //border:1px solid @window-frame-body-border-color;
}
.maximized {
  #window-frame-body {
    border-radius: 0;
  }
}
